@font-face {
  font-family: 'SourceSansPro-Regular';
  src: url('./SourceSansPro/SourceSansPro-Regular.ttf')  format('truetype')
}

@font-face {
  font-family: 'SourceSansPro-SemiBold';
  src: url('./SourceSansPro/SourceSansPro-SemiBold.ttf')  format('truetype')
}

@font-face {
  font-family: 'SourceSansPro-Bold';
  src: url('./SourceSansPro/SourceSansPro-Bold.ttf')  format('truetype')
}

@font-face {
  font-family: 'SourceSansPro-Italic';
  src: url('./SourceSansPro/SourceSansPro-Italic.ttf')  format('truetype')
}